!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2 Hi "#{@user.name}"
    %p
      Conguratulations!
    %p
      Your subscription has been approved.
      Visit shootstay.com anytime to make a request.
      Thanks,
