!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2 "#{@user.name}" has been applied
    %p
      Please visit this link
      = link_to "Approve", approve_users_url(email: @user.email)
      = " / "
      = link_to "Decline", decline_users_url(email: @user.email)

      to approve/decline user's application.
      
