.modal.fade{:id => "status-options-#{user.id}"}
	= simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
		.modal-dialog
			.modal-content
				.modal-header
					%a.close{"data-dismiss" => "modal"} ×
					%h4 Change Status
				.modal-body
					= f.input :status, :collection => User::STATUS, :as => :radio_buttons, :label_method => lambda {|t| t.titleize}, :label => false, :item_wrapper_class => 'inline'#, checked: user.role_ids.first
				.modal-footer
					= f.submit "Change Status", :class => "btn btn-primary"
					%a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} Close
