.container

  -# Field Groups
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
    
    -# Header
    %h1 Sign In
    
    -# Fields
    .login-fields
      .form-group
        = f.input_field :email, :class => "form-control input-lg username-field", placeholder: "Email", :autofocus => true
      .form-group
        = f.input_field :password, :class => "form-control input-lg password-field",placeholder: "Password"
    
    -# Checkbox
    .checkbox
      - if devise_mapping.rememberable?
        %input{name: "user[remember_me]", type: "checkbox", value: "1"}
          %label.choice{for: ""} Keep me signed in
     
    -# Button
    %button.btn.btn-primary Sign In
      
  -# Links
  = render "devise/shared/links"